<h1>Plants 'n Gardeners</h1>

<table>
  <thead>
    <th>
      Plants
    </th>
    <th>
      Gardeners
    </th>
  </thead>
  <tbody>
    {{#plantsAndGardeners}}
    <tr>
      <td>
        {{plant_name}}
      </td>
      <td>
        {{gardener_name}}
      </td>
    </tr>
    {{/plantsAndGardeners}}
  </tbody>
</table>
